@model IList<asp_mvc.Models.Customer>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Membershipe type</th>
        <th>Details</th>
        <th>Update</th>
    </tr>
    @foreach (var customer in Model)
    {
    <tr>
        <td>@customer.Name</td>
        <td>@customer.MembershipType.Name</td>
        <td>@Html.ActionLink("Details", "Details", "Customers", new { id = customer.Id }, null)</td>
        <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id }, null)</td>
    </tr>
    }
</table>